# import libraries

In [1]:
import pandas as pd

In [2]:
potus_df = pd.read_csv("whitehouse_visitors.csv")

In [3]:
potus_df

,name,appt_made_date,appt_start_date,appt_end_date,visitee_namelast,visitee_namefirst,meeting_room,description
0,Joshua T. Blanton,2014-12-18T00:00:00,1/6/15 9:30,1/6/15 23:59,NaN,potus,west wing,JointService Military Honor Guard
1,Jack T. Gutting,2014-12-18T00:00:00,1/6/15 9:30,1/6/15 23:59,NaN,potus,west wing,JointService Military Honor Guard
2,Bradley T. Guiles,2014-12-18T00:00:00,1/6/15 9:30,1/6/15 23:59,NaN,potus,west wing,JointService Military Honor Guard
3,Loryn F. Grieb,2014-12-18T00:00:00,1/6/15 9:30,1/6/15 23:59,NaN,potus,west wing,JointService Military Honor Guard
4,Travis D. Gordon,2014-12-18T00:00:00,1/6/15 9:30,1/6/15 23:59,NaN,potus,west wing,JointService Military Honor Guard
...,...,...,...,...,...,...,...,...
47949,William B. Henline,2015-12-16T00:00:00,12/18/15 16:30,12/18/15 23:59,NaN,POTUS/FLOTUS,State Floo,NaN
47950,Ian T. Burris,2015-12-16T00:00:00,12/18/15 16:30,12/18/15 23:59,NaN,POTUS/FLOTUS,State Floo,NaN
47951,James F. Albaugh,2015-12-16T00:00:00,12/18/15 16:30,12/18/15 23:59,NaN,POTUS/FLOTUS,State Floo,NaN
47952,Jackie L. Finken,2015-12-16T00:00:00,12/18/15 16:30,12/18/15 23:59,NaN,POTUS/FLOTUS,State Floo,NaN
47953,Grace M. Bauman,2015-12-16T00:00:00,12/18/15 16:30,12/18/15 23:59,NaN,POTUS/FLOTUS,State Floo,NaN

# import module dattime

In [5]:
import datetime as dt

In [6]:
potus_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47954 entries, 0 to 47953
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               47954 non-null  object
 1   appt_made_date     47954 non-null  object
 2   appt_start_date    47954 non-null  object
 3   appt_end_date      47954 non-null  object
 4   visitee_namelast   6069 non-null   object
 5   visitee_namefirst  47953 non-null  object
 6   meeting_room       47954 non-null  object
 7   description        8053 non-null   object
dtypes: object(8)
memory usage: 2.9+ MB

In [7]:
potus_df["appt_made_date"].info

<bound method Series.info of 0        2014-12-18T00:00:00
1        2014-12-18T00:00:00
2        2014-12-18T00:00:00
3        2014-12-18T00:00:00
4        2014-12-18T00:00:00
                ...
47949    2015-12-16T00:00:00
47950    2015-12-16T00:00:00
47951    2015-12-16T00:00:00
47952    2015-12-16T00:00:00
47953    2015-12-16T00:00:00
Name: appt_made_date, Length: 47954, dtype: object>

# changing date into datetime format

In [8]:
potus_df["appt_start_date"] =pd.to_datetime(potus_df["appt_start_date"])

C:\Users\Aksystems\AppData\Local\Temp\ipykernel_11788\2448483416.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  potus_df["appt_start_date"] =pd.to_datetime(potus_df["appt_start_date"])

In [9]:
potus_df["appt_end_date"] =pd.to_datetime(potus_df["appt_end_date"])

C:\Users\Aksystems\AppData\Local\Temp\ipykernel_11788\716471243.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  potus_df["appt_end_date"] =pd.to_datetime(potus_df["appt_end_date"])

In [10]:
monthly_appt = potus_df["appt_start_date"].dt.strftime("%B")

In [11]:
monthly_appt.value_counts()

appt_start_date
December     13029
June          7743
April         4996
September     4416
October       3669
May           3013
July          2930
March         2262
February      2165
August        1350
January       1248
November      1133
Name: count, dtype: int64

# find duration of meeting

In [12]:
duration_of_meeting = potus_df["appt_end_date"] - potus_df["appt_start_date"]

In [13]:
duration_of_meeting

0       0 days 14:29:00
1       0 days 14:29:00
2       0 days 14:29:00
3       0 days 14:29:00
4       0 days 14:29:00
              ...
47949   0 days 07:29:00
47950   0 days 07:29:00
47951   0 days 07:29:00
47952   0 days 07:29:00
47953   0 days 07:29:00
Length: 47954, dtype: timedelta64[ns]

In [14]:
duration_of_meeting.min()

Timedelta('0 days 02:29:00')

In [15]:
duration_of_meeting.max()

Timedelta('16 days 12:59:00')

In [16]:
duration_of_meeting.sum()

Timedelta('21210 days 14:02:00')

In [17]:
potus_df["appt_start_date"].value_counts()

appt_start_date
2015-06-15 15:15:00    3064
2015-06-17 18:00:00    1874
2015-12-07 18:00:00    1374
2015-12-15 13:30:00     811
2015-12-10 18:00:00     778
                       ...
2015-04-20 14:03:00       1
2015-04-20 14:09:00       1
2015-09-10 14:07:00       1
2015-09-10 13:30:00       1
2015-04-17 15:08:00       1
Name: count, Length: 1174, dtype: int64