# problem statement: to find out most commmented post and the time when post gets most comments

# import dataset & libraries

In [6]:
import pandas as pd

In [10]:
import datetime as dt

In [7]:
import csv

In [8]:
df = pd.read_csv("hackers.csv")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20100 entries, 0 to 20099
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20100 non-null  int64
 1   title         20100 non-null  object
 2   url           17660 non-null  object
 3   num_points    20100 non-null  int64
 4   num_comments  20100 non-null  int64
 5   author        20100 non-null  object
 6   created_at    20100 non-null  object
dtypes: int64(3), object(4)
memory usage: 1.1+ MB

# change format to datetime

In [13]:
df["created_at"] = pd.to_datetime(df["created_at"])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20100 entries, 0 to 20099
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20100 non-null  int64
 1   title         20100 non-null  object
 2   url           17660 non-null  object
 3   num_points    20100 non-null  int64
 4   num_comments  20100 non-null  int64
 5   author        20100 non-null  object
 6   created_at    20100 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 1.1+ MB

In [15]:
#standardizing
df["title"]  = df["title"].str.lower()

In [16]:
df.head()

,id,title,url,num_points,num_comments,author,created_at
0,12224879,interactive dynamic video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,2016-08-04 11:52:00
1,10975351,how to use open source and shut the fuck up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,2016-01-26 19:30:00
2,11964716,florida djs may face felony for april fools' w...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,2016-06-23 22:20:00
3,11919867,technology ventures: from idea to enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,2016-06-17 00:01:00
4,10301696,note by note: the making of steinway l1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,2015-09-30 04:12:00

In [ ]:
# make bool series

In [17]:
bool_ap = df["title"].str.startswith("ask hn")

In [18]:
ap = df[bool_ap]

In [19]:
ap.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1744 entries, 7 to 20061
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1744 non-null   int64
 1   title         1744 non-null   object
 2   url           7 non-null      object
 3   num_points    1744 non-null   int64
 4   num_comments  1744 non-null   int64
 5   author        1744 non-null   object
 6   created_at    1744 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 109.0+ KB

# same for show post

In [20]:
bool_sp = df["title"].str.startswith("show hn")

In [21]:
sp = df[bool_sp]

In [22]:
sp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1162 entries, 13 to 20070
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1162 non-null   int64
 1   title         1162 non-null   object
 2   url           1122 non-null   object
 3   num_points    1162 non-null   int64
 4   num_comments  1162 non-null   int64
 5   author        1162 non-null   object
 6   created_at    1162 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 72.6+ KB

# same for other posts

In [23]:
op = df[~df["title"].str.startswith("show hn")|df["title"].str.startswith("ask hn")]

In [24]:
op

,id,title,url,num_points,num_comments,author,created_at
0,12224879,interactive dynamic video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,2016-08-04 11:52:00
1,10975351,how to use open source and shut the fuck up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,2016-01-26 19:30:00
2,11964716,florida djs may face felony for april fools' w...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,2016-06-23 22:20:00
3,11919867,technology ventures: from idea to enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,2016-06-17 00:01:00
4,10301696,note by note: the making of steinway l1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,2015-09-30 04:12:00
...,...,...,...,...,...,...,...
20095,12379592,how purism avoids intels active management tec...,https://puri.sm/philosophy/how-purism-avoids-i...,10,6,AdmiralAsshat,2016-08-29 02:22:00
20096,10339284,yc application translated and broken down,https://medium.com/@zreitano/the-yc-applicatio...,4,1,zreitano,2015-10-06 14:57:00
20097,10824382,microkernels are slow and elvis didn't do no d...,http://blog.darknedgy.net/technology/2016/01/0...,169,132,vezzy-fnord,2016-01-02 00:49:00
20098,10739875,how product hunt really works,https://medium.com/@benjiwheeler/how-product-h...,695,222,brw12,2015-12-15 19:32:00
20099,11680777,robobrowser: your friendly neighborhood web sc...,https://github.com/jmcarp/robobrowser,182,58,pmoriarty,2016-05-12 01:43:00

# find out number of comments in each category

In [28]:
print(op["num_comments"].sum())
print(round(op["num_comments"].mean()))

486538
26

In [29]:
print(ap["num_comments"].sum())
print(round(ap["num_comments"].mean()))

24483
14

In [30]:
print(sp["num_comments"].sum())
print(round(sp["num_comments"].mean()))

11988
10

# find out hours of each post when it was created

In [31]:
op_hour = op["created_at"].dt.hour
ap_hour = ap["created_at"].dt.hour
sp_hour = sp["created_at"].dt.hour

In [32]:
print(op_hour, sp_hour , ap_hour)

0        11
1        19
2        22
3         0
4         4
         ..
20095     2
20096    14
20097     0
20098    19
20099     1
Name: created_at, Length: 18938, dtype: int32 13       14
39       22
46       18
84        7
97       20
         ..
19993     4
19999     3
20014    22
20065     3
20070    11
Name: created_at, Length: 1162, dtype: int32 7         9
17       13
22       10
30       14
31       16
         ..
20039     9
20042    12
20045     8
20048     1
20061     9
Name: created_at, Length: 1744, dtype: int32

# groupping the hour of creation of post & summing up their number of comments

In [33]:
op_total_comment_by_hour = op.groupby(op_hour)["num_comments"].sum()
ap_total_comment_by_hour = ap.groupby(ap_hour)["num_comments"].sum()
sp_total_comment_by_hour = sp.groupby(sp_hour)["num_comments"].sum()

In [34]:
ap_total_comment_by_hour

created_at
0      447
1      683
2     1381
3      421
4      337
5      464
6      397
7      267
8      492
9      251
10     793
11     641
12     687
13    1253
14    1416
15    4477
16    1814
17    1146
18    1439
19    1188
20    1722
21    1745
22     479
23     543
Name: num_comments, dtype: int64

# sort them in descending order

In [35]:
 sorted_by_hour = ap_total_comment_by_hour.sort_values(ascending = False)

In [36]:
sorted_by_hour.head(10)

created_at
15    4477
16    1814
21    1745
20    1722
18    1439
14    1416
2     1381
13    1253
19    1188
17    1146
Name: num_comments, dtype: int64

# groupping the hour of creation of post & taking mean of number of comments

In [37]:
op_avg_comment_by_hour = op.groupby(op_hour)["num_comments"].mean().round(2)
ap_avg_comment_by_hour = ap.groupby(ap_hour)["num_comments"].mean().round(2)
sp_avg_comment_by_hour = sp.groupby(sp_hour)["num_comments"].mean().round(2)

In [38]:
ap_avg_comment_by_hour

created_at
0      8.13
1     11.38
2     23.81
3      7.80
4      7.17
5     10.09
6      9.02
7      7.85
8     10.25
9      5.58
10    13.44
11    11.05
12     9.41
13    14.74
14    13.23
15    38.59
16    16.80
17    11.46
18    13.20
19    10.80
20    21.52
21    16.01
22     6.75
23     7.99
Name: num_comments, dtype: float64

In [40]:
sorted_avg_op_comments = op_avg_comment_by_hour.sort_values(ascending = False)
sorted_avg_ap_comments = ap_avg_comment_by_hour.sort_values(ascending = False)
sorted_avg_sp_comments = sp_avg_comment_by_hour.sort_values(ascending = False)

# s ort them

In [41]:
sorted_avg_ap_comments.head()

created_at
15    38.59
2     23.81
20    21.52
16    16.80
21    16.01
Name: num_comments, dtype: float64

In [42]:
sorted_avg_sp_comments.head()

created_at
18    15.77
0     15.71
14    13.44
23    12.42
22    12.39
Name: num_comments, dtype: float64

In [43]:
sorted_avg_op_comments.head()

created_at
15    30.43
14    30.41
13    29.53
12    28.57
11    28.10
Name: num_comments, dtype: float64

In [44]:
ap.to_csv("clean ask post.csv", index = False)

In [45]:
clean_hackers = pd.concat([ap,sp,op])

In [46]:
clean_hackers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21844 entries, 7 to 20099
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            21844 non-null  int64
 1   title         21844 non-null  object
 2   url           17667 non-null  object
 3   num_points    21844 non-null  int64
 4   num_comments  21844 non-null  int64
 5   author        21844 non-null  object
 6   created_at    21844 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 1.3+ MB

In [47]:
clean_hackers.to_csv("clean hackers.csv" ,index = False)

# Analysis Summary: Understanding Comment Trends in 'Ask' Posts

## Most Commented Posts:

Upon analyzing the dataset, it was evident that 'ask' posts garnered the highest number of comments compared to other post types. This indicates a higher level of engagement and interaction among users within the community.

## Mean Number of Comments by Hour:

The analysis further revealed insightful patterns regarding the mean number of comments by hour. By breaking down the data into hourly intervals, we were able to identify specific timeframes that attract more engagement from users.
For instance, posts made during certain hours of the day tended to receive a higher average number of comments compared to others. This suggests that timing plays a crucial role in maximizing views and interactions on 'ask' posts.
By leveraging this information, we can strategically plan the timing of our posts to optimize engagement and foster meaningful discussions within the community.


In conclusion, understanding the dynamics of comment trends in 'ask' posts provides valuable insights for content creators and community managers. By capitalizing on peak engagement hours and fostering an environment conducive to conversation, we can enhance the overall user experience and foster a vibrant and interactive community.