# Dictionary (Mapping data)
## Word & Value -> Key and Value -> Key Value pair

* a dictionary is a built-in data type that represents a collection of key-value pairs. 
* It is also sometimes referred to as an associative array or a hash map in other programming languages. (hash convert into numbers)
* Dictionaries are mutable, unordered, and can store any data type as values. 
* Each key in a dictionary must be unique.
* denoted by {}
* primitive datatypes can be  a key  (except list and dictionary)
* value can be any data type

In [1]:
d= {}
type(d)

dict

In [2]:
d = {1,2,3}
type(d)

set

In [3]:
bio = { "name":"sheema ", "age": 25, "city" :  "karachi"}

## Key characteristics of dictionaries in Python:

* Unordered: 
       The order of items in a dictionary is not guaranteed.the insertion order of items is maintained, but this behavior is considered an implementation detail and should not be relied upon.

* Mutable:
       You can add, modify, or remove key-value pairs from a dictionary after its creation.

* Keys: 
       Keys must be immutable (strings, numbers, or tuples), and each key in a dictionary must be unique. (List can not be in dictionary)

* keys are created.not edited. you can change the key but cant update the old one

* Values:
        Values can be of any data type, including other dictionaries.
        
* memberships operators are only applied on keys

In [4]:
{"salaries" : [4000,5000,6000]}

{'salaries': [4000, 5000, 6000]}

In [5]:
bio

{'name': 'sheema ', 'age': 25, 'city': 'karachi'}

In [6]:
bio["city"]

'karachi'

In [7]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [8]:
#to find keys
bio.keys()

dict_keys(['name', 'age', 'city'])

In [9]:
#to find values
bio.values()

dict_values(['sheema ', 25, 'karachi'])

In [10]:
bio

{'name': 'sheema ', 'age': 25, 'city': 'karachi'}

In [11]:
#to add keys we have to create new
bio["school"] = "kps"
bio

{'name': 'sheema ', 'age': 25, 'city': 'karachi', 'school': 'kps'}

In [12]:
#to remove a key-value pair
bio.pop("age")
bio

{'name': 'sheema ', 'city': 'karachi', 'school': 'kps'}

In [13]:

bio["age"] = 25
bio

{'name': 'sheema ', 'city': 'karachi', 'school': 'kps', 'age': 25}

# applying for loops in dictionary:

* by default key will appear in loops

In [14]:
for i in bio:
    print(i)

name
city
school
age

In [26]:
for key in bio:               #this is not dictionary just appearing to be
    print(key, bio[key])

name sheema
city karachi
school kps
age 25

In [16]:
for v in bio.values():
    print(v)

sheema
karachi
kps
25

In [17]:
#we can use items method to call out each elements in dictionary
bio.items()

dict_items([('name', 'sheema '), ('city', 'karachi'), ('school', 'kps'), ('age', 25)])

In [18]:
for k , v in bio.items():
    print(k , v)

name sheema
city karachi
school kps
age 25

# Sets
* a set is a collection data type that is unordered, mutable, and does not allow duplicate elements. 
* It is defined by enclosing a comma-separated sequence of elements 
* within curly braces () 
* it is particularly useful for tasks that involve membership testing and eliminating duplicate entries.

* Here are some key characteristics and operations associated with sets in Python
       * unordered-doesnt maintain order for data insertion
       * mutable- can be modified
       * heterogenous - may conatin all types of data
       * uniques - doesnt allow duplicate elemnets

In [19]:
## creating a set:
num ={1,2,3,4,5}
num

{1, 2, 3, 4, 5}

In [20]:
#Adding Elements: You can add elements to a set using the add() method.
num.add(6) 
num

{1, 2, 3, 4, 5, 6}

In [21]:
#Removing Elements: You can remove elements from a set using the remove() or discard() method. 
#The remove() method raises a KeyError if the element is not present, while discard() does not.
num.remove(3)
num.discard(7)

In [22]:
num

{1, 2, 4, 5, 6}

# Set Operations:
* Sets support various operations like 
       * union (|), 
       * intersection (&), 
       * difference (-), 
       * symmetric difference (^), etc.

## Union
      union_set = my_set | another_set

## Intersection
      intersection_set = my_set & another_set

## Difference
       difference_set = my_set - another_set

## Symmetric difference
       symmetric_difference_set = my_set ^ another_set

In [23]:
#Membership: You can check if an element is in a set using the in keyword.
5 in num

True

In [24]:
#Length of a Set: You can find the number of elements in a set using the len() function.
print(len(num))

5

In [25]:
#Iterating Over Sets: You can iterate over the elements of a set using a for loop.
for i in num:
    print(i)

1
2
4
5
6

# zip() 
*  is a built-in function that is used to combine multiple iterables (lists, tuples, etc.)  
   element-wise. 
* It takes iterables as input and returns an iterator of tuples where the i-th tuple contains 
  the i-th element from each of the input iterables.

* It's important to note that if the input iterables are of different lengths, zip() stops as 
  soon as the shortest iterable is exhausted. This means that any extra elements in longer 
  iterables are ignored.

In [4]:
#example of how zip() works:

list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list3 = [10, 20, 30]


# Using zip to combine lists element-wise

zipped_lists = zip(list1, list2, list3)

In [6]:
zipped_lists

In [7]:
# Converting the iterator to a list
result = list(zipped_lists)

In [8]:
result

[(1, 'a', 10), (2, 'b', 20), (3, 'c', 30)]

### In this example, zip() combines the elements of list1, list2, and list3 into tuples, creating a new list of tuples where each tuple contains elements from the corresponding positions of the input lists.