# List
* a list is a versatile and mutable data structure that allows you to store and organize a collection of point values.
* These items can be of any data type, including numbers, strings, or even other lists. 
* Lists are defined by enclosing the elements in square brackets [] and separating them with commas. 
* example

In [43]:
num = [1,2,3,4,5]

In [44]:
num

[1, 2, 3, 4, 5]

# characteristics of list
 ## Mutable:
 can be modified , updated with built in methods in directory ,dir 
 * example:

In [3]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### lets apply some methods
* append can add single element at the last of the list
* extend can add the more than one elements in the end of the list
* remove works with the value of the element
* del works with the index of the element

In [45]:
num.append(6)

In [46]:
num

[1, 2, 3, 4, 5, 6]

In [47]:
num.extend([7,8,9])

In [48]:
num

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
num.remove(9)

In [50]:
num

[1, 2, 3, 4, 5, 6, 7, 8]

In [52]:
num.insert([4],5)

In [53]:
num

[1, 2, 3, 4, 5, 5, 6, 7, 8]

In [78]:
del num[0]

In [79]:
num

[2, 2, 3, 4, 5, 5, 6, 7, 8]

## heterogenous
 * lists are heterogenous, may contain elements of different data types
 eg:list, string , integers etc
 
 example:

In [4]:
st1 = ['aamir', 25 , 5.2, ]

In [5]:
st1              #represents name, age, height i.e str, int, float respectively

['aamir', 25, 5.2]

In [7]:
print(type(st1[0]))
print(type(st1[1]))
print(type(st1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

## Indexing
 * position of an element in the list
 * we can access the individual element in the list due to its unique index (position)
 * python uses zero index language (starts from 0)
 * uses [] to access the single element with its position in between
 
 
 ### positive indexing
 * left to right
 * strats from 0 , and so on (forward)
 ### negative indexing 
 * right to left
 * starts from -1 and backwards

In [56]:
num

[1, 2, 3, 4, 5, 5, 6, 7, 8]

In [58]:
print(num[0])
num[-2]

1

7

In [66]:
          #lets suppose we have to insert 2 in thr the list

num.insert(1,2)        #here we used indexing to romeve the 
                          #referred elemnt in the list
num

[1, 2, 2, 2, 3, 4, 5, 5, 6, 7, 8]

In [67]:
del num[2]         # here we used the element itself to delete

In [68]:
num

[1, 2, 2, 3, 4, 5, 5, 6, 7, 8]

## length

* we can find the length of the list with len function
example

In [69]:
len(num)

10

## memberships

* we can find the presence and absence of an elemnts with this keyword
* in
* not in


example

In [70]:
4 in num

True

In [73]:
44 in num                      #bool data type

False

In [72]:
44 not in num

True

## slicing
* continuous part of the list
* create a new list.
* Use the colon : to specify a range of indices.
* The syntax is sarting_index : end_index
* it includes elements from start_index to end index , escluding the elements  end_index 

For example:

In [75]:
slice_of_num = num[2:-1]

In [77]:
slice_of_num

[2, 3, 4, 5, 5, 6, 7]

# list of lists (nested list)

In [109]:
st1 =["aamir", "DS", 100 ]
st2 =["beenish", "DS", 100]

In [110]:
students= [st1 , st2, ["daanish", "DS", 100]]

In [111]:
students

[['aamir', 'DS', 100], ['beenish', 'DS', 100], ['daanish', 'DS', 100]]

In [112]:
len(students)

3

In [113]:
students = [students , ["fasih", "DS"  , 100]]

In [114]:
students

[[['aamir', 'DS', 100], ['beenish', 'DS', 100], ['daanish', 'DS', 100]],
 ['fasih', 'DS', 100]]

In [ ]:
#to extract list from a list of list
use index of the list
example

In [115]:
students[1]

['fasih', 'DS', 100]

#extract single elemnts from the list which is present in the nested list

#use index to access the list then again use index to access element

example

In [117]:
students[1][0]

'fasih'